$maxWidth: 90rem; // 1440px
$minWidth: 20rem; // 320px

$mw: 80.5rem; // container width (1232px without paddings)

// media
$md1: $mw + 0.75rem;
$md2: 61.9988rem; // 991.9808px
$md3: 47.9988rem; // 767.9808px
$md4: 29.9988rem; // 479.9808px
